$spacing: 1rem;

body,
html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 1rem;
}

body {
    min-width: 40rem;
    display: grid;
    grid-template-rows: $spacing*8 auto $spacing*3;
    grid-row-gap: $spacing;

    >main {
        // display: grid;
        // grid-template-rows: $spacing*4 auto;
    }

    &#index, &#overview {
        >main {
            display: flex;
            align-items: center;
        }

        >header {
            display: flex;
        }
    }
}