<form class="form form--login" action="/loginAction" method="post">
    <h1>Willkommen bei der Hochschule Flensburg</h1>
    <div>
        <label for="input-username">Benutzername:</label>
        <input type="text" name="login[username]" id="input-username" placeholder="Studip Benutzername" />
    </div>
    <div>
        <label for="input-password">Passwort:</label>
        <input type="password" name="login[password]" id="input-password" placeholder="Studip Passwort" />
    </div>
    <input type="submit">
</form>