<div class="sidebar--threads">
    <a class="color-grey hover no-underline" href="/channel?name={{channel.name}}"><h1 class="channel--title">{{channel.name}}</h1></a>
    <div class="channel--status">
        <small>Status d. Veranstaltung</small>
        <h2 class="channel--status_title">{{ channel.status }}</h2>
    </div>

    <h2>Sprachkanäle</h2>
    <ul class="voice-channels">
        <li><a title="Dem Kanal beitreten" href="/thread/voice">Ansprache & Fragerunde</a></li>
        <ul class="channel-users">
            {% if isInThread == 'voice-public' and user.isAdmin %}
                <li>{{user.username}}</li>
            {% endif %}
            {% if not user.isAdmin %}
                <li>Arnold Willemer</li>
            {% endif %}
            <li>Fabian G.</li>
            <li>Peter Shaw</li>
            {% if isInThread == 'voice-public' and not user.isAdmin %}
                <li>{{user.username}}</li>
            {% endif %}
        </ul>
        <li><a title="Dem Kanal beitreten" href="/thread/voice/private?id=1">Laborplatz 1</a></li>
        <ul class="channel-users">
            {% if isInThread == 'voice-private-1' %}
                <li>{{user.username}}</li>
            {% endif %}
        </ul>
        <li>Laborplatz 2</li>
        <li>Einzelbesprechung</li>
    </ul>
    <h2>Textkanäle</h2>
    <ul class="text-channels">
        <li>Ansprache & Fragerunde</li>
        <li>Laborplatz 1</li>
        <li>Laborplatz 2</li>
    </ul>

    {% include "components/snippets/voiceControls.html" %}
</div>