<div class="sidebar--threads">
    <h1 class="channel--title">{{channel.name}}</h1>
    <div class="channel--status">
        <small>Status d. Veranstaltung</small>
        <h2 class="channel--status_title">Ansprache</h2>
    </div>

    <h2>Kanäle</h2>
    <ul class="voice-channels">
        <li><a title="Dem Kanal beitreten" href="/thread/voice">Ansprache & Fragerunde</a></li>
        <ul class="channel-users">
            <li>Arnold Willemer</li>
            <li>Fabian G.</li>
            <li>Peter Shawn</li>
            {% if userIsInChannel %}
                <li>{{user.username}}</li>
            {% endif %}
        </ul>
        <li>Laborplatz 1</li>
        <li>Laborplatz 2</li>
        <li>Laborplatz 3</li>
        <li>Laborplatz 4</li>
        <li>Einzelbesprechung</li>
    </ul>
    <ul class="text-channels">
        <li>Ansprache & Fragerunde</li>
        <li>Laborplatz 1</li>
        <li>Laborplatz 2</li>
        <li>Laborplatz 3</li>
        <li>Laborplatz 4</li>
    </ul>
</div>