<div class="chat">
    <div class="chat--messages">
        {% include "components/snippets/threadChat_messages.html" %}
    </div>
    <div class="chat--input">
        <div class="topbar">
            <span><a title="Emoji senden" href=""><img alt="Emoji senden Icon" src="/img/ui/smile.svg"></a></span>
            <span><a title="Anhang senden" href=""><img alt="Anhang senden Icon" src="/img/ui/clip.svg"></a></span>
        </div>
        <form id="chatInput">
            <textarea id="chatMessage" name="message" id="chat-iput" placeholder="Schreibe eine Nachricht..."></textarea>
        </form>
    </div>
</div>