<div class="sidebar--threads">
    <h1 class="channel--title">{{channel.name}}</h1>
    <div class="channel--status">
        <small>Status d. Veranstaltung</small>
        <h2 class="channel--status_title">Ansprache</h2>
    </div>

    <h2>Kanäle</h2>
    <ul class="voice-channels">
        <li>Ansprache & Fragerunde</li>
        <li>Laborplatz 1</li>
        <li>Laborplatz 2</li>
        <li>Laborplatz 3</li>
        <li>Laborplatz 4</li>
        <li>Einzelbesprechung</li>
    </ul>
    <ul class="text-channels">
        <li>Ansprache & Fragerunde</li>
        <li>Laborplatz 1</li>
        <li>Laborplatz 2</li>
        <li>Laborplatz 3</li>
        <li>Laborplatz 4</li>
    </ul>
</div>