{% if user.isAdmin %}
    <div class="alert">
        <span>Einladung Code-Sharing</span>
        <span>Sabine Lustig</span>
        <span><a href="#" onclick="alert('Es öffnet sich dein Codeeditor mit Zugriff auf den Code von Sabine Lustig'); document.querySelector('.alert').classList.toggle('hidden')">Annehmen</a> / <a href="#" onclick="document.querySelector('.alert').classList.toggle('hidden')">Ablehnen</a></span>
    </div>
{% endif %}
<div class="voice">
    <div class="voice--users">
        <div></div>
        <div></div>
        {#         <div></div>
        <div></div> #}
    </div>
</div>