<div class="sidebar--user">
    <a href="#" id="link-note">
        <div class="user--note">
            <p><i class="icon">✋</i> Meldung</p>
            {# <p>niemand</p> #}
        </div>
    </a>
    <div class="users">

        <div id="sidebar--user__ctx-menu"></div>

        <strong>Doziernde</strong>
        {% if user.isAdmin %}
            <p class="current-user" id="user-1">{{user.username}}</p>
        {% else %}
            <p id="user-1">Arnold Willemer</p>
        {% endif %}


        <strong>Tutorierende</strong>
        <p id="user-2">Fabian G.</p>
        <p id="user-3">Alex Pet</p>

        <strong>Studierende</strong>
        <p id="user-4">Peter Shaw</p>
        <p id="user-5">Bob Andrews</p>
        <p id="user-6">Bnold Wollimo</p>
        <p id="user-7">Fabian Knöller</p>
        <p id="user-8">Andreas Sagasi</p>
        <p id="user-9">Peter Humboldt</p>
        <p id="user-10">Peter Pan</p>
        {% if not user.isAdmin %}
            <p class="current-user" id="user-11">{{user.username}}</p>
        {% else %}
            <p id="user-11">Sabine Lustig</p>
        {% endif %}
    </div>
</div>