{% extends 'layout.html' %}
{% block title %}Bookmark Übersicht{% endblock %}
{% block content %}
  {% for entry in entries %}
    <div class="entry">
      <p>
        <a href="/bookmark/{{entry.ID}}">
          {{entry.Title}}
        </a>
      </p>
      <p>
        <a href="{{entry.URI}}" title="{{entry.Title}}" target="_blank">
          {{entry.URI}}
        </a>
      </p>
      <p>
        {{entry.Tags}}
      </p>
    </div>
  {% else %}
    warning: no entries found!
  {% endfor %}
{% endblock %}
