<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.typekit.net/eig1hwu.css">
    <link rel="stylesheet" href="/css/tui-context-menu.css">
    <link rel="stylesheet" href="/css/studtastic.css">
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  {% if not page is defined %}
    {% set page = "page" %}
  {% endif %}
  <body id="{{page}}">
    <header>
      {% block header %}{% endblock %}
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
    {% block footer %}{% endblock %}
    </footer>
    <script src="/js/studtastic.js"></script>
  </body>
</html>
