{% extends 'layout.html' %}
{% block title %}Studtastic: Übersicht{% endblock %}
{% set page = "overview" %}
{% block content %}
    <div class="eventselection">
        <h1>Veranstaltungsauswahl</h1>
        <ul class="events">
            <a href="#"><li class="event"><span class="event--title">Strukturierte Programmierung</span></li></a>
            <a href="#"><li class="event"><span class="event--title">WWW-Programmierung</span></li></a>
            <a href="#"><li class="event"><span class="event--title">Algorithmen & Datenstrukturen</span></li></a>
        </ul>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}