{% extends 'layout.html' %}
{% block title %}Bookmark:
  {{ entry.Title }}
{% endblock %}
{% block content %}
  <div class="entry" style="background: rgba(0,0,0,0.1);">
    <p>
      <i>
        {{entry.Date_created}}
      </i>
    </p>
    <p>
      <a href="/bookmark/{{entry.ID}}">
        {{entry.Title}}
      </a>
    </p>
    <a href="{{entry.URI}}" title="{{entry.Title}}" target="_blank">
      {{entry.URI}}
    </a>
    <p>
      {{entry.Tags}}
    </p>
    <a href="/bookmark/{{entry.ID}}/edit">
      Edit
    </a>
    <a href="/bookmark/{{entry.ID}}/delete">
      Delete
    </a>
  </div>
{% endblock %}
