* {
    font-family: gesta, sans-serif;
    font-weight: 300;
    font-style: normal;
}

strong {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: korolev-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
}

/**
    Font utilitites 
**/
.color-darkgrey {
    color: $dark-grey !important;
}

.color-grey {
    color: $grey !important;
}

.color-white {
    color: white !important;
}

.hover {
    opacity: 1;

    &:hover {
        opacity: 0.9;
    }
}

.bold {
    font-weight: bold;
}

.no-underline {
    text-decoration: none;
}

.mb-05 {
    margin-bottom: $spacing/2;
}

.mb-1 {
    margin-bottom: $spacing;
}

.mt-05 {
    margin-top: $spacing/2;
}

.mt-1 {
    margin-top: $spacing;
}