.chat {
    display: grid;
    grid-template-rows: auto $spacing*8;

    // Nachrichten
    .chat--messages {
        margin-top: $spacing;

        .message {
            margin: $spacing/2 0;
            > small {
                color: $dark-grey;
            } 
        }
    }

    .chat--input {
        padding: $spacing;
        border: solid $grey;
        border-radius: $spacing*2;

        // Topbar (Anhang, Emoji senden)
        .topbar {
            span img {
                height: 1.5rem;
            }
        }

        // Eingabefeld Nachricht
        >textarea {
            width: 100%;
            height: $spacing*4;
            resize: none;
        }
    }
}