div.eventselection {
    width: 40rem;
    margin: 0 auto;
    padding: $spacing*3;
    border: thick solid $grey;

    ul.events {
        display: flex;
        justify-content: space-around;

        li.event {
            display: flex;
            align-items: center;
            height: $spacing*8;
            width: $spacing*8;
            border: thin solid $dark-blue;
            border-radius: 50%;
            text-align: center;
        }
    }
} 