div.eventselection {
    width: 25rem;
    margin: 0 auto;
    padding: $spacing*3;
    border: thick solid $grey;

    ul.events {
        display: flex;
        justify-content: space-around;

        li.event {
            height: $spacing*6;
            width: $spacing*6;
            border: thin solid $dark-blue;
            border-radius: 50%;
        }
    }
} 