footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: $spacing/2;
    border-top: thick solid $dark-blue;

    div.footer-index {
        text-align: center;

        .footer--links {
            display: flex;
            justify-content: center;

            >* {
                padding-left: $spacing/2;
                border-left: thin solid;
            }
        }
    }
}