.sidebar--threads {
    border-right: thin solid $grey;
    padding-right: $spacing;
    .channel--status {
        background: $dark-blue;
        color: white;
        text-align: center;
        padding: $spacing/2;
        margin-top: -$spacing/2;
        margin-bottom: $spacing;
    }
    ul.voice-channels > li, ul.text-channels > li {
        font-weight: bold;
        margin-bottom: $spacing;
    }
    .channel-users * {
        margin-bottom: $spacing/4;
        margin-left: $spacing;

        &:first-child {
            margin-top: -$spacing/2;
        }
        &:last-child {
            margin-bottom: $spacing;
        }
    }
}