.sidebar--threads {
    ul.voice-channels > li, ul.text-channels > li {
        font-weight: bold;
        margin-bottom: $spacing;
    }
    .channel-users * {
        margin-bottom: $spacing/4;
        margin-left: $spacing;

        &:first-child {
            margin-top: -$spacing/2;
        }
        &:last-child {
            margin-bottom: $spacing;
        }
    }
}