.sidebar--user {
    background-color: $light-grey;
    border-left: thin solid $grey;
    padding-left: $spacing/2;

    .user--note {
        text-align: center;
        margin: $spacing;
        background: $light;
        padding: $spacing/2;
        border: thin solid $grey;
        border-radius: $spacing/2;
    }

    .users {
        margin: $spacing;
    }

    .note-active {
        color: $blue;
        font-weight: bold;
        &:before {
            display: inline-block;
            content : '';
            height: 1rem;
            width: 1rem;
            margin-right: $spacing/4;
            background: url('/img/ui/smile.svg') center center no-repeat;
            background-size: contain;
        }
    }
}

body.admin {
    .sidebar--user .user--note {
        display: none;
    }
}