{% extends 'layout.html' %}
{% block title %}Studtastic: Übersicht{% endblock %}
{% block header %}
  {% include "components/indexHeader.html" %}
{% endblock %}
{% set page = "overview" %}
{% block content %}
    <div class="eventselection">
        {% include "components/eventList.html" %}
        <h1>Bitte wähle eine Veranstaltung</h1>
        <p class="color-grey">Studtastic wird sich deine Auswahl merken und dich nächstes mal direkt in die letzte Veranstaltung einloggen</p>
    </div>
{% endblock %}
{% block footer %}
  {% include "components/indexFooter.html" %}
{% endblock %}